<nav class="navbar" style="background-color: #ADFFE1">
  <div class="container-fluid">
    <img src="https://lh3.googleusercontent.com/rGfKpJqGgKxbPRCHC7EppqZ-xPVy0iC1aPMol5zCsKahCCoJ2HIcjJhY5HKqOTXyqs5Zxw=s85"alt="My Favorite Things">
    <a href="/favorites" class="navbar-brand left">My Favorites</a>
  </div>
</nav>
