<nav class="navbar" style="background-color: #ADFFE1">
  <div class="container-fluid">
    <img src="https://lh3.googleusercontent.com/rGfKpJqGgKxbPRCHC7EppqZ-xPVy0iC1aPMol5zCsKahCCoJ2HIcjJhY5HKqOTXyqs5Zxw=s85"alt="My Favorite Things">
    <div class="d-flex justify-content-end">
      <a href="/item/new/<%=category%>" class="navbar-brand">New Item</a>
      <a href="/category" class="navbar-brand">My Favorites</a>
    </div>
  </div>
</nav>
