
body {
  background-image: linear-gradient(#77FFC9, #B9FF76);
  height : 2200px;
  font-family: 'Acme', sans-serif;
}

ul {
  list-style: none;
  text-align: center;
}

.deleteB {
    display: inline-block;
    border: none;
    padding: 0rem 1.4rem;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    /* text-align: left; */
    transition: background 250ms ease-in-out,
                transform 150ms ease;
}

.editB {
  display: inline-block;
  border: none;
  padding: 0rem 1.4rem;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  background: #ffffff;
  color: #000000;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  /* text-align: left; */
  transition: background 250ms ease-in-out,
              transform 150ms ease;
}
.rankB {
    display: inline-block;
    border: none;
    /* padding: 0rem 1rem; */
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    /* text-align: left; */
    transition: background 250ms ease-in-out,
                transform 150ms ease;
}

.showB {
  padding: 0 1.4rem;
  /* box-sizing: border-box; */

}
.description {
  border-radius: 8px;
  resize: none;
}
