<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="center">
      <ul>
        <% for (let category of categories) { %>
          <li>
            <a href="/category/<%=category._id%>">
              <%= category.name %>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
