<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <h1>Please Enter a New Category</h1>
    <div class="container center">
      <form class="" action="/category" method="post">
        <label for="name">Category Name:</label>
        <input type="text" name="name" required/>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
