<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/navItems.ejs') %>
    </nav>
    <h1 class="container mx-auto" style="width: 100px;"><%=category.name%></h1>
  </body>
</html>
